#header {
	font-family: 'Orbitron', sans-serif;
	color: mediumvioletred;
	font-weight: 600;
}

#footer {
	font-family: 'Boogaloo', cursive;
	color: white;
	background-color: gray;
}

nav#navigating ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav#navigating ul li{
	float: left;
}	

nav#navigating ul li a{
	display: block;
	padding: 20px;
	font-size: 20px;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	background-color: gray;
}	

nav#navigating ul li a:hover{
	background-color: #ccc;
	color: #000;
}

#Introduction, #bored {
	font-family: 'Rammetto One', cursive;
	color: white;
}	

#Introduction{
	overflow:hidden;
	width: 40em;
	height: 15em;
}

#bored{
	overflow:hidden;
	width: 30em;
	height: 5em;
}

#iitclass, #prof, #h3llo, #leggocareer {
	font-family: 'Orbitron', sans-serif;
	color: mediumvioletred;
	font-weight: 800;
	font-size: 40px;
}

#education, #workhistory, #information, #classes {
	font-family: garamond, serif;
	font-weight: 300;
	color: white;
}

#ul1, #ul2, #ul3, #ul4 {
	font-size: 17px;
}

#edu, #wh, #PI, #RC{
	font-size: 25px;
	color: mediumvioletred;
}

.fixedIMG {
	width: 400px;
	position: fixed;
	right: 0;
	top: 80px;
}

#CH {
	font-size: 20px;
}

#history {
	overflow:scroll;
	width: 50em;
	height: 20em;
	font-family: lucida, serif;
	margin: 20px 20px;
	border: solid;
	background-color: #E4E4E6;
}

body, html {
	min-height:100%;
}

body {
	background-image:url("backgroundPic.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}
