#header {
	font-family: 'Orbitron', sans-serif;
	color: mediumvioletred;
	font-weight: 600;
}

#footer {
	font-family: 'Boogaloo', cursive;
}

#Introduction, #bored {
	font-family: 'Rammetto One', cursive;
	color: midnightblue;
}	

#title {
	font-family: 'Orbitron', sans-serif;
	color: mediumvioletred;
	font-weight: 800;
	font-size: 40px;
}

#education, #workhistory, #information, #classes {
	font-family: garamond, serif;
	font-weight: 300;
}

#ul1, #ul2, #ul3, #ul4 {
	font-size: 17px;
}

#edu, #wh, #PI, #RC{
	font-size: 25px;
	color: darkmagenta;
}

.floatRight {
	float: right;
}

#CH {
	font-size: 20px;
}

#history {
	overflow:scroll;
	width: 50em;
	height: 20em;
	font-family: lucida, serif;
	margin: 20px 20px;
}