h1, h2, h3, h4 {
	font-family: 'Orbitron', sans-serif;
	color: mediumvioletred;
	font-weight: 600;
}

#navigating {
	font-family: 'Orbitron', sans-serif;
}

#footer {
	font-family: 'Lobster', sans-serif;
}

#introduction {
	
}	

.floatRight {
	float: right;
}

#youtubevidleague {

}

#information, #classes {
	
}

#education, #workhistory {
	
}
